html, body {

    width: 100%;
    height: 100%;
    background:rgba(124, 23, 23, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* Just to keep it at the very top */
    background-image: linear-gradient(rgb(77, 87, 233), rgb(159, 98, 167));
}
.main {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family: 'Nunito', sans-serif;
  }
 .topcontent {
    position: relative;
    padding-top: 110px;
    color: aliceblue;
   
   
 }
 .formcontent {
    display: inline-block;
    position: relative;
    max-width: 700px;
    font-size: medium;
    
 }
 .dothis {
  font-size: larger;
  color: aliceblue;
  font-weight: 600;
 }
#signupform {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(34, 24, 170, 0.384);
  color: aliceblue;
}
.firstname, .lastname, .email, .phone, .password, .confirmpassword {
  padding-top: 15px;

  
}
label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 100px;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(129, 122, 122);
    overflow-x: hidden;
    overflow: hidden;
    background-image: linear-gradient(rgb(77, 87, 233), rgb(159, 98, 167));
   
  }
  

  button[type=submit] {
    background-color: #3464bd;
    color: rgb(0, 0, 0);
    padding: 20px 20px 20px 20px;
    margin: 25px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #8b15c2;
  }

.footer {
    position: relative;
    padding: 10px 20px 50px 15px;
}
 